<div class="container">
  <label>Add Ingredient</label>
  <input type="text" [(ngModel)]="drinkName" placeholder="Navngi drink..."/>
  <input type="text" (keyup)="onTyped()" [(ngModel)]="search" placeholder="search"/>
  {{search}}
  <div *ngIf="search">
    <ul>
     <li (click)="addIngredient(ingredient)" *ngFor="let ingredient of ingredients">
       {{ingredient}}
     </li>
   </ul>
  </div>
  <button (click)="onReset()">Reset</button>
  <button (click)="onPost()">Send form</button>
  <input [(ngModel)]="image" type="file" accept="image/*" capture="camera" name="avatar" (change)="onChange($event)"/>
  <app-measure *ngFor="let addition of added" [nameInput]="addition" (selection)="onEdidtMeasure($event)"></app-measure>
</div>
